{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
{% block body_block %}
    {% if category %}
        <div class="jumbotron p-4">
        <div class="container">
        <h1 class="jumbotron-heading">{{ category.name }}</h1>
        <div><strong id="like_count">{{ category.likes }}</strong> likes
            {% if user.is_authenticated %}
                <button id="like_btn"
                        data-categoryid="{{ category.id }}"
                        class="btn btn-primary btn-sm"
                        type="button"><span data-feather="thumbs-up"></span>
                    Like Category
                </button>
            {% endif %}
        </div>
        </div>
        </div>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <ul>
            <li><a href="/rango/category/{{ category.slug }}/add_page">Add New Page</a></li>
        </ul>
    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}
